<div class="row">
  <div>
    <div class="card mt-4">
      <div class="card-body">
        <div class="head">
          <h2>Automatic Irrigation System</h2>
          <button type="button" class="irrigation-system-button"
                  (click)="addPlot()">Add Plot</button>
        </div>
        <div class="row">
          <div class="col-12 mt-4 ml-3">
            <h3 class="float-left">Plots</h3>
            <h3 class="float-right"> <input type="checkbox"  [(ngModel)]="isManualMode"> irrigation in manual Mode</h3>
            <table class="table">
              <thead class="thead-light">
              <tr>
                <th scope="col"></th>
                <th scope="col">plot Id</th>
                <th scope="col">plot Location</th>
                <th scope="col">plot Area by m2</th>
                <th scope="col">owner name</th>
                <th scope="col">last Irragtion Date</th>
                <th scope="col">next Irragtion Date</th>
                <th scope="col">Sensor status</th>
                <th scope="col">Turn on off sensor</th>
                <th scope="col"  *ngIf="selectedPlot && isManualMode">toggleIrrigationStatus</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let plot of plots">
                <th scope="plot"> </th>
                <td><a href="javascript: void(0);" (click)="openPlotDetails(plot)">{{ plot.id }}</a></td>
                <td>{{ plot.location }}</td>
                <td>{{ plot.area }}</td>
                <td>{{ plot.ownerName }}</td>
                <td>
                  {{ plot?.lastIrragtionDate?.split('T')[0]}} {{plot?.lastIrragtionDate?.split('T')[1].split('.')[0]}}
                </td>
                <td>
                  {{ plot?.nextIrragtionDate?.split('T')[0]}} {{plot?.nextIrragtionDate?.split('T')[1].split('.')[0]}}
                </td>
                <td>
                  {{ plot?.plotSensor?.available }}
                </td>
                <th scope="col">
                  <button type="button" class="irrigation-system-button"
                          (click)="changeAutoManual(plot)">turn On/Off</button>
                </th>

                <th scope="col"  *ngIf="selectedPlot && isManualMode">
                  <button type="button" class="irrigation-system-button"
                          (click)="toggleIrrigationStatus()">toggleIrrigationStatus</button>
                </th>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
