@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    background-color: lightgray;
    position: sticky;
    top: 0;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 99999;
}

.header-button {
    background-color: rgb(132, 35, 49);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttons-container {
    margin-left: 10px;
}

.left-button {
    margin-right: 10px;
    margin-bottom: 10px;
}

